<button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetail('1212')">Detalle not Found</button>
<div class="products--grid">
    <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)"
        (showProduct)="onShowDetail($event)">
    </app-product>
</div>
<button (click)="loadMore()">Ver mas</button>

<div class="product-detail" [class.active]="showProductDetail">
    {{statusDetail }}
    
    <button class="btnClose" (click)="toggleShowProductDetail()">X</button>
    <div class="product-container" *ngIf="productChoosen">
        <h1>{{productChoosen.title}}</h1>
        <swiper 
            [slidesPerView]="1" 
            >
            <ng-template swiperSlide *ngFor="let img of productChoosen.images">
                <img [src]="img" alt="">
            </ng-template>
        </swiper>

        <p>{{productChoosen.description}}</p>
        <button (click)="updateProduct()">Editar</button>        
        <button (click)="deleteProduct()">Eliminar</button>
    </div>
</div>